MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/kalren_db
CLOUDINARY_CLOUD_NAME=ddxplesul
CLOUDINARY_API_KEY=525554386245623
CLOUDINARY_API_SECRET=rY-RTASCcmObXA-JunNowHhCOn8

MONGODB_URL=mongodb+srv://admin_kalren:Kalren2026@masashimura.ynvltcv.mongodb.net/kalren_db?retryWrites=true&w=majority&appName=masashimura