fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
cloudinary
python-slugify
pillow
requests
pydantic[email]
email-validator